.popup__form-submit-button {
  padding: 0;
  margin: 33px auto 37px;
  width: 358px;
  height: 50px;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 2px;
  outline: none;
  user-select: none;
}

.popup__form-submit-button:hover {
  transition: 0.4s;
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .popup__form-submit-button {
    margin: 27px auto 25px;
    width: 238px;
    height: 46px;
  }
}
